@charset "UTF-8";
/* Custom Styles for prattpt */

@import "app"; //import foundation

@import "global"; //global settings for prattpt


h1, h2, h3, h4{
	font-weight: 300;
	text-transform: uppercase;
}

h1{
	letter-spacing: 4px;
}

h2{
	letter-spacing: 3px;
}

h3{
	letter-spacing: 2px;
}

p{
	@include breakpoint(large){
		font-size: 14px;
	}
	&.large{
		font-size: 14px;
		@include breakpoint(large) {
			font-size: 16px;
		}
		font-weight: 300;
		color: $brand-color-primary;
	}
	&.accent{
		margin-bottom: 0;
		font-size: 16px;
		@include breakpoint(large) {
			font-size: 20px;
		}
		font-family: $brand-font-alternate;
		color: $brand-color-primary;
	}
}

a{
	font-family: $brand-font-alternate;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	@include breakpoint(large){
		font-size: 16px;
	}
}

.bg-gray1{
	background-color: #F6F8FB;
}

.bg-accent{
	background-color: $brand-color-accent;
	.title, p, ul{
		color: #fff;
	}
}

.button{
	position: relative;
	padding: $amount-tiny*3/4 $amount-small;
	border: solid 4px white;
	border-radius: 5px;
	font-family: $brand-font-alternate;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	&:before{
		content: " ";
		position: absolute;
		z-index: -1;
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		border: solid 1px $brand-color-accent;
		border-radius: 5px;
	}
	@include breakpoint(large){
		padding: $amount-tiny $amount-medium;
		font-size: 16px;
		letter-spacing: 3px;
	}
}

.grid-padding-large>.cell{
	padding: $amount-small;
	@include breakpoint(large){
		padding-left: $amount-large;
		padding-right: $amount-large;
	}
	&.cell-padding-zero{
		padding: 0;
	}
}

.grid-float{
	&:before, 
	&:after {
	    display: table;
	    content: ' ';
	    -webkit-flex-basis: 0;
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-ordinal-group: 2;
	    -webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
    }
	&:after {
    	clear: both;
    }
	+ .grid-float{
		margin-top: $amount-small;
		@include breakpoint(large){
			margin-top: $amount-medium;
		}
	}
	.image{
		float: left;
		width: 30%;
		margin-right: $amount-small;
	}
	.cell{
		@include breakpoint(medium){
			padding-top: $amount-small;
		}
	}
} 

@include breakpoint(medium){
	.grid-image{
		overflow: hidden;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.section{
	padding: $amount-small $amount-tiny/2;
	@include breakpoint(medium){
		padding: $amount-medium $amount-small;
	}
	@include breakpoint(large){
		padding: $amount-large $amount-medium;
	}
	&.section-collapse{
		padding-top: 0;
		padding-bottom: 0;
	}
	&.section-collapse-bottom{
		padding-bottom: 0;
	}
	&.section-padding-small{
		padding-top: $amount-small/2;
		padding-bottom: $amount-small/2;
	}
	.section-CTA{
		margin-top: $amount-small;
	}
}

.top-bar{
	width: 100%;
	padding: 0;
	@include breakpoint(medium){
		padding: $amount-tiny;
	}
	@include breakpoint(large){
		padding: $amount-small;
	}
}

.title-bar{
	max-width: 1200px;
	padding: $amount-tiny ;
	background: $brand-color-primary;
}

.top-bar-left{
	padding: $amount-tiny/2 0 $amount-tiny/2 $amount-small;
	@include breakpoint(medium){
		padding: 0;
	}
}

.top-bar-right,
.title-bar-right{
	max-width: 440px;
}

#navigation ul{
	padding: $amount-tiny/2 0;
}

.nav-phone{
	padding-right: $amount-small;
}

.title-bar,
.top-bar {
	a, p{
		color: #fff;
	}
	p{
		margin-bottom: 0;
		padding-top: $amount-small;
		padding-bottom: $amount-small;
		font-family: $brand-font-alternate;
		font-size: 16px;
		line-height: 1;
	}
	p, 
	.menu a{
		padding: $amount-small*3/4 $amount-small;
		@include breakpoint(medium){
			padding: $amount-small/2 $amount-small;
		}
	}
	.logo {
	    display: inline-block;
	    height: 44px;
	    img{
	    	width: auto;
	    	height: auto;
			max-height: $amount-medium;
		}
	}
	.active{
		border-bottom: solid 3px $brand-color-accent;
	}
	.top-bar-left,
	.title-bar-left{
		@include breakpoint(small){
			max-width: 40%;
		}
	}
	ul{
		background: $brand-color-secondary;
		@include breakpoint(medium){
			background: none;
		}
	}
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.hero{
	position: relative;
	text-align: center;
	background: $brand-color-primary;
	h1, h2, a{
		color: #fff;
	}
	.title{
		position: absolute;
		bottom: $amount-small*1.5;
		left: 0;
		width: 100%;
		@include breakpoint(large){
			bottom: $amount-medium*1.5;
		}
	}
	.image{
		position: relative;
		img:first-child{
			position: absolute;
			transition: ease-in-out 0.3s;
		}
	}
	a:hover{
		img:first-child{
			opacity: 0;
		}
	}
}

.bg-hero{
	min-height: 200px;
	padding: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: none;
	&.bg-hero-physicaltherapy{
		background-image: url('../images/img-physicaltherapyconditions.jpg');
	}
	&.bg-hero-manualtherapy{
		background-image: url('../images/img-manualtherapymethods.jpg');
	}
	@include breakpoint(medium){
		min-height: 400px;
	}
}

.page-title{
	padding-top: $amount-small * 1.333;
	padding-bottom: $amount-small * 1.333;
	background: $brand-color-accent2;
	text-align: center;
	@include breakpoint(medium){
		padding-top: $amount-medium * 1.333;
		padding-bottom: $amount-medium * 1.333;
	}
	@include breakpoint(large){
		padding-top: $amount-large * 1.333;
		padding-bottom: $amount-large * 1.333;
	}
	h1{
		color: #fff;
	}
}

.breadcrumb{
	padding-top: $amount-small;
	padding-bottom: $amount-small;
	@include breakpoint(medium){
		padding-top: $amount-medium;
		padding-bottom: $amount-medium;
	}
}

.map{
	height: auto;
}

.contact-details{
	padding-top: $amount-small;
	padding-bottom: $amount-small;
	ul{
		margin: 0 0 $amount-tiny 0;
	}
	li{
		list-style: none;
	}
}

.timetable{
	p{
		display: inline-block;
		margin-bottom: 0;
	}
	.accent{
		width: 50px;
		margin-right: $amount-tiny;
		text-align: right;
	}
}

.contact{
	margin-top: $amount-small !important;
	h4, p{
		display: inline-block;
	}
	h4{
		margin-right: 5px;
	}
	li{
		display: inline-block;
		&:nth-child(1){
			margin-right: $amount-medium;
		}
		&:nth-child(3){
			display: block;
		}
	}
}

.block-padding-medium {
	padding: $amount-tiny $amount-tiny/2 $amount-tiny*1.5 $amount-tiny/2;
	@include breakpoint(large){
		padding: $amount-medium $amount-medium/2 $amount-medium*1.5 $amount-medium/2;	
	}
}

.block-padding-small {
	padding: $amount-tiny/2 $amount-tiny*1/4 $amount-tiny $amount-tiny*1/4;
	@include breakpoint(large){
		padding: $amount-small/2 $amount-small*1/4 $amount-small $amount-small*1/4;	
	}
}

.block-card{
	margin-top: $amount-small;
	background: $brand-color-accent;
	.content{
		padding: $amount-tiny $amount-tiny $amount-tiny*1.5 $amount-tiny;
		@include breakpoint(large){
			padding: $amount-small $amount-small $amount-small*1.5 $amount-small;	
		}
		.title, p, ul{
			color: #fff;
		}
	}
}

.block-accent{
	position: relative;
	padding: $amount-small;
	text-align: center;
	border-radius: 5px;
	border: solid 1px $brand-color-accent;
	&:before{
		content: " ";
		position: absolute;
		z-index: -1;
		top: -5px;
		left: 5px;
		right: 5px;
		bottom: -5px;
		border: solid 1px $brand-color-accent;
		border-radius: 5px;
	}
	@include breakpoint(large){
		padding: $amount-medium;
		&:before{
			top: -10px;
			left: 10px;
			right: 10px;
			bottom: -10px;
		}
	}
	.large{
		margin-bottom: $amount-small;
	}
	.button{
		margin-bottom: 0;
	}
}

.block-labeled{
	/*position: relative;*/
	margin-bottom: $amount-tiny;
	@include breakpoint(medium){
		margin-bottom: 0;
	}
	.title{
		/*position: absolute;
		top: 0;
		left: 0;*/
		width: 100%;
		margin: 0;
		padding: $amount-tiny $amount-tiny/2;
		background: $brand-color-accent;
		color: #fff;
		text-align: center;
		@include breakpoint(medium){
			padding-top: $amount-tiny/2;
			padding-bottom: $amount-tiny/2;
			font-size: 14px;
		}
		@include breakpoint(large){
			padding-top: $amount-tiny;
			padding-bottom: $amount-tiny;
			font-size: 20px;
		}
	}
}

.block-overlay{
	position: relative;
	margin-top: $amount-tiny;
	.title{
		position: absolute;
		top: 45%;
		left: 0;
		width: 100%;
		color: #fff;
		font-family: $brand-font-alternate;
		font-weight: bold;
		text-transform: capitalize;
		text-shadow: 0px 1px 10px rgba($brand-color-secondary, 0.5);
		text-align: center;
		z-index: 100;
	}
	.image{
		position: relative;
		img:first-child{
			position: absolute;
			transition: ease-in-out 0.3s;
		}
	}
	a:hover{
		img:first-child{
			opacity: 0;
		}
	}
}


.footer{
	padding: $amount-small 0; 
	@include breakpoint(medium){
		padding: $amount-medium $amount-small;
	}
	background: $brand-color-secondary;
	.cell{
		padding-left: $amount-small;
		padding-right: $amount-small;
		&:last-child{
			margin-top: $amount-tiny;
			@include breakpoint(medium){
				margin-top: 0;
			}
		}
	}
	.logo{
		text-align: center;
		img{
			width: auto;
			max-width: 100px;
			height: auto;
			margin-bottom: $amount-small;
			@include breakpoint(large){
				max-width: 140px;
			}
		}
	}
	.copyright{
		font-size: 11px;
	}
	h2, h3, h4, p, a, li{
		color: #fff;
		text-transform: uppercase;
	}
	h2, h3, h4{
		margin-bottom: $amount-small/2;
	}
	.accordion-menu{
		h2, h3, h4{
			margin-top: $amount-small/2;
		}
		.is-submenu-item{
			margin-top: $amount-tiny;
			margin-bottom: $amount-tiny;
		}
	}
	ul{
		list-style: none;
		margin: 0
	}
	.menu a {
		padding-left: 0;
		padding-right: 0;
	}
	a{
		font-size: 14px;
		letter-spacing: 0.5px;
	}
	.menu.simple li+li{
		margin-left: 0;
	}
	.contact-address p:first-child{
		margin-bottom: 0;
	}
}

.sub-footer{
	padding: $amount-tiny;
	background: $brand-color-primary;
	text-align: center;
	p{
		color: #fff;
	}
	span:last-child{
		margin-left: $amount-tiny;
	}
}